body{
  
    background-color:black;
    height: 10000px;
    width: 30000px;
    } 


#fruit{
    
   height: 800px;
   width: 800px;
   padding: 250px;
}

#candycotton{
    height: 700px;
    width: 900px;
}