body{
    background-color: black;
    
    
        width: 2048px;
        height: 100000px;
    
       
        
      
    }
    /*
#bluedot{
    margin-top: 10px;
    position: center;
    height:400px;
    width: 600px;
    top:20%;
}

#greenzeb{
    position: center;
    padding:200px;
    height:700px;
    width: 900px;
}
#candy1{
    padding:200px;
    height:700px;
    width: 900px; 
}

#orange{
    padding:200px;
    height:700px;
    width: 900px; 
}

#pinkstripes{
    padding:200px;
    height:700px;
    width: 900px; 
}

#purplepink{
    padding:200px;
    height:700px;
    width: 900px; 
}




